.main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px #ef8236;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  z-index: 15;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-in-icon {
  display: none;
  transition: 0.2s;
  padding: 5px 6px 3px 6px;
  border-radius: 50%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.navbar .navbar-1 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 15px;
}

.navbar .navbar-2 {
  display: flex;
  align-items: center;
}

.nav-logo {
  padding: 5px 15px;
}

.nav-item {
  margin: 0px 2px;
  font-size: small;
  font-weight: 500;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: 0.2s;
}

.nav-btn {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.nav-item:hover,
.slide-in-icon:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
}

.navbar .navbar-1 form {
  flex-grow: 1;
  padding: 0px 12px;
  position: relative;
}

.navbar .navbar-1 form input {
  min-width: 90%;
  margin: 0;
  padding: 8px 10px 8px 32px;
  font-size: 13px;
  border: solid 1px #0000003e;
  border-radius: 3px;
}

.navbar .navbar-1 form .search-icon {
  position: absolute;
  left: 25px;
  top: 8px;
}

.nav-links {
  padding: 7px 13px;
  border: solid 1px blue;
  border-radius: 3px;
  background-color: #e7f8fe;
  cursor: pointer;
}

.nav-links:hover {
  background-color: #d3e4eb;
}

.dark_mode {
  position: relative;
  left: 35px;
  margin-top: -20px;
  margin-left: 10px;
}

.dark-mode-logo {
  filter: invert(1);
}

.dark-mode-icon {
  filter: invert(1);
}

.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}
.dark_mode_input:checked + .dark_mode_label:after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.dark_mode_label svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #fff;
}
.dark-mode-icon-bar-close {
  display: none;
}
@media (width <= 1120px) {
  .navbar .navbar-1 form {
    display: none;
  }
}

@media (width <= 760px) {
  .slide-in-icon {
    display: block;
  }
  .dark-mode-icon-bar-close {
    display: block;
    transition: 0.2s;
    padding: 5px 6px 3px 6px;
    border-radius: 50%;
    background-color: inherit;
    border: none;
    cursor: pointer;
    filter: invert(1);
  }
}

@media (width <= 640px) {
  .slide-in-icon {
    display: block;
  }
  .navbar .navbar-1 .res-nav {
    display: none;
  }
  .dark_mode {
    position: relative;
    left: 5px;
    margin-top: -20px;
    margin-left: 10px;
  }
}

@media (width <= 400px) {
  .logo {
    position: relative;
    right: 10px;
    margin: 0;
    width: 120px;
  }

  .slide-in-icon {
    display: block;
  }

  .navbar .navbar-1 .res-nav {
    display: none;
  }

  .navbar-2-smallScreen {
    display: flex;
    align-items: center;
    position: relative;
    right: 20px;
  }

  .nav-item.nav-links {
    position: relative;
    right: 20px;
    font-size: 12px;
    width: 60px;
    height: 30px;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
  }

  .logout {
    padding: 7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 5px;
    font-size: 12px;
    padding: 3px 10px;
  }
}
@media (width <= 400px) {
  .dark_mode_label {
    position: relative;
    right: 15px;
  }
}
